<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calibration</title>
    <style>
    .button {
      background-color: #008CBA; /* Blue */
      border: none;
      color: white;
      width:20%;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      display:inline-block; /*any space between the inline elements will act as a newline and elements will be displayed one under another instead of inline*/
    }

    .selectbox{
      background-color:black;
    }
    </style>
</head>

<body style="background-color:black; color:white;">

    <h1 style="margin-top: 80px">Sensor Calibration</h1>
        
    <p> Waiting for this node to initialize.</p>
   
   
</body>

</html>
