<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalDO</title>
    <style>
    .button {
      background-color: #008CBA; /* Blue */
      border: none;
      color: white;
      width:20%;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      display:inline-block; /*any space between the inline elements will act as a newline and elements will be displayed one under another instead of inline*/
    }

    .selectbox{
      background-color:black;
    }
    </style>
</head>

<body style="background-color:black; color:white;">

    <h1 style="margin-top: 80px">Dissolved Oxygen Sensor Calibration</h1>
    <h2 > Attention! Unscrew the membrane cap from the probe and fill about 2/3 volume of the cap with 0.5 mol/L NaOH solution. Carefully screw the cap back to the probe and make sure the probe is fully filled with NaOH solution. </h2>
    <p> Prepare two cups of purified water, put one cup in the refrigerator, and one cup to warm up (Do not exceed 40°C, otherwise the probe may be damaged). Use one of the following methods to make saturated oxygen water:</p>
    <ol>
      <li>Use a stirrer or an eggbeater to continuously stir for 10 minutes to saturate the dissolved oxygen.</li>
      <li>Use an air pump to continuously inflate the water for 10 minutes to saturate the dissolved oxygen.</li>
    </ol>
    <p> Stop stirring or pumping, and insert the probe after the bubbles disappear, together with the water temperature sensor. After placing the probe, keep stirring slowly while avoiding any bubbles. After the output voltage and temperature is stable, please press the button below.</p>
    <button id = "db1button" class = "button" > Record high temperature </button>
            <br>

    <p>Wash the probe with distilled water, then perform the same operation on the glass of cold water and press the button below. </p>

    <button id = "db2button" class = "button"> Record low temperature </button>
            <p></p>

    <div id="div2">{{message}}</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("button").click(function(e){
          var dev = '{{ device }}';
          var chan = '{{ channel }}';
          var sen = '{{ sensor }}';
          var button = e.target.id;
          var db = "";
          if (button == "uploadbutton"){
              $.ajax({url: "/control/calibration/Check/" + dev + "/" + chan +"/sensors/"+ sen, success: function(result){
                if (result == "OK"){
                  $(e.target).css('background-color','green');
                  $("#div2").html(""); 
                }
                $("#display-upload-result").html(result);
              }});
              setTimeout(function(){ $(e.target).css('background-color','#008CBA');$("#div1").html(""); }, 3000);

          }
          else
          {
            if (button == "db1button") db = "1"; else db = "2";
            $.ajax({url: "/control/calibration/Set/"+db+ "/" + dev + "/" + chan +"/sensors/"+ sen, success: function(result){
              if (result == "OK"){
                $(e.target).css('background-color','green');
                $("#div2").html(""); 
              }
              $("#display-upload-result").html(result);
            }});

            setTimeout(function(){ $(e.target).css('background-color','#008CBA');$("#div1").html(""); }, 3000);  
          }
        });
      });

    </script>

</body>

</html>
